@import '../../../assets/styles/_mixins';

.sectionCarts {
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow: auto;
	height: calc(100vh - 230px);

	&::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f8f8f7;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #fbe0dc;
		border-radius: 15px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #ff868e;
	}

	&:scrollrad {
		background: #ff868e;
	}

	.carts {
		display: grid;
		grid-template-columns: 200px 200px 200px;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			'one two three'
			'one four four'
			'five four four'
			'six seven eight'
			'nine nine eight'
			'nine nine ten';
		gap: 15px;
		justify-items: stretch;

		.cart {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			box-sizing: border-box;
			background-color: rgba(255, 134, 142, 0.6);

			.image {
				border-radius: 20px;
				width: 100%;
				transition: 0.5s ease;
				backface-visibility: hidden;
			}

			.favorites {
				position: absolute;
				transition: 0.5s ease;
				opacity: 0;

				.favoritesBtn {
					@include btnContainer(40px, 40px);
					background-color: #ffffff;
					border-radius: 10px;
					.favoritesImage {
						fill: #ff868e;
					}
				}
			}

			&:hover .image {
				mix-blend-mode: multiply;
			}

			&:hover .favorites {
				opacity: 1;
			}
		}
	}
}
