.home {
	position: relative;
	top: -60px;
	height: calc(100vh - 60px);
	width: 680px;
	background-color: #fbe0dc;
	border-radius: 20px;

	img {
		position: relative;
		right: 65px;
		bottom: 30px;
	}
}
