.table {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 2px;
	color: #ffffff;
	background-color: #ff868e;
	border: none;
	height: 40px;
	width: 146px;
	border-radius: 10px;
}
