@import '../../../assets/styles/_mixins.scss';

@mixin menuCart($url, $color) {
	box-sizing: border-box;
	width: 138px;
	height: 198px;
	background-image: url($url);
	background-color: $color;
	border: 4px solid rgba(255, 255, 255, 0.6);
	border-radius: 20px;
	cursor: pointer;
	transition: active 1s ease-in-out;
}

@mixin menuCartHover {
	& {
		border: 4px solid rgba(255, 255, 255, 1);
		transition: 0.2s;
	}
}

@mixin menuCartActive {
	& {
		border: 4px solid #fbe0dc;
		transition: 0.1s;
	}
}

.sidebar {
	position: sticky;
	display: flex;
	flex-direction: column;
	margin-top: 30px;

	.greeting {
		.greetingHi {
			color: #000000;
			font-size: 44px;
			line-height: 58px;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			margin-bottom: 10px;
		}

		.greetingText {
			color: #8c8c8c;
			font-size: 20px;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			margin-bottom: 60px;
		}
	}

	.menuMain {
		.menuText {
			color: #1d1d1d;
			font-size: 20px;
			margin-bottom: 20px;
		}

		.menuButtons {
			display: flex;

			.menuVotingActive {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-right: 16px;
				gap: 10px;

				.menuVotingImage {
					@include menuCart('/vote-table.svg', #b4b7ff);
					@include menuCartActive();
				}
				.menuVotingBtn {
					@include btnContainer(138px, 36px, 10px);
					@include btnActive();
				}

				&:hover > .menuVotingImage {
					@include menuCartHover();
				}
			}

			.menuVoting {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-right: 16px;
				gap: 10px;

				&:hover > .menuVotingImage {
					@include menuCartHover();
				}

				&:hover > .menuVotingBtn {
					@include btnHover();
				}

				&:active > .menuVotingImage {
					@include menuCartActive();
				}

				&:active > .menuVotingBtn {
					@include btnActive();
				}

				.menuVotingImage {
					@include menuCart('/vote-table.svg', #b4b7ff);
				}
				.menuVotingBtn {
					@include btnContainer(138px, 36px, 10px);
				}
			}

			.menuBreedsActive {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-right: 16px;
				gap: 10px;

				.menuBreedsImage {
					@include menuCart('/pet-breeds.svg', #97eab9);
					@include menuCartActive();
				}
				.menuBreedsBtn {
					@include btnContainer(138px, 36px, 10px);
					@include btnActive();
				}

				&:hover > .menuBreedsImage {
					@include menuCartHover();
				}
			}

			.menuBreeds {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-right: 16px;
				gap: 10px;

				&:hover > .menuBreedsImage {
					@include menuCartHover();
				}

				&:hover > .menuBreedsBtn {
					@include btnHover();
				}

				&:active > .menuBreedsImage {
					@include menuCartActive();
				}

				&:active > .menuBreedsBtn {
					@include btnActive();
				}

				.menuBreedsImage {
					@include menuCart('/pet-breeds.svg', #97eab9);
				}
				.menuBreedsBtn {
					@include btnContainer(138px, 36px, 10px);
				}
			}

			.menuGalleryActive {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-right: 16px;
				gap: 10px;

				.menuGalleryImage {
					@include menuCart('/image-search.svg', #ffd280);
					@include menuCartActive();
				}
				.menuGalleryBtn {
					@include btnContainer(138px, 36px, 10px);
					@include btnActive();
				}

				&:hover > .menuGalleryImage {
					@include menuCartHover();
				}
			}

			.menuGallery {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-right: 16px;
				gap: 10px;

				&:hover > .menuGalleryImage {
					@include menuCartHover();
				}

				&:hover > .menuGalleryBtn {
					@include btnHover();
				}

				&:active > .menuGalleryImage {
					@include menuCartActive();
				}

				&:active > .menuGalleryBtn {
					@include btnActive();
				}

				.menuGalleryImage {
					@include menuCart('/image-search.svg', #ffd280);
				}

				.menuGalleryBtn {
					@include btnContainer(138px, 36px, 10px);
				}
			}
		}
	}
}
