@import '../../../assets/styles/_mixins';

.breeds {
	display: flex;
	flex-direction: column;
	width: 680px;
	background-color: #fff;
	margin-top: 10px;
	padding: 20px;
	border-radius: 20px;
	box-sizing: border-box;
	height: calc(100vh - 130px);

	.backSection {
		display: flex;
		gap: 10px;

		.optional {
			display: flex;
			gap: 10px;

			.sort {
				@include btnContainer(40px, 40px, 10px);
				box-sizing: border-box;
				background-color: #f8f8f7;
				transition: none;

				&:hover {
					border: 2px solid #fbe0dc;
					.sortImage {
						fill: #ff868e;
					}
				}
			}
		}
	}

	.cartsSection {
		margin-top: 20px;
	}
}
