@mixin btnContainer($width, $height, $radius: 0) {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
	color: #ff868e;
	background-color: #ffffff;
	border: none;
	cursor: pointer;
	transition: active 1s ease-in-out;
	width: $width;
	height: $height;
	@if $radius != 0 {
		border-radius: $radius;
	}
}

@mixin btnHover {
	& {
		color: #ff868e;
		background-color: #fbe0dc;
		transition: 0.1s;
	}
}

@mixin btnACtive {
	& {
		color: #ffffff;
		fill: #ffffff;
		background-color: #ff868e;
		transition: 0.1s;
	}
}
